atari-py==0.2.9
gym==0.19.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.18.2
opencv-python==4.5.4.58
tensorboard==2.1.1
tensorflow-addons==0.9.1
tensorflow-determinism==0.3.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
